

<div class="card-header">
      <h3> {{ article.votes }} Points </h3>
  </div>
  <div class="card-body">
    <span> <h2> {{ article.title }} </h2><p><b>IdUtente: {{ article.userId }} </b></p>  <p><b>ID: {{ article.id }} </b></p> </span>
    <p>{{ article.body }}</p>
  </div>
  <div class="card-footer">
     <div class="btn-group">
        <a href (click)="voteUp()" class="btn btn-secondary"> upvote </a>
        <a href (click)="voteDown()" class="btn btn-secondary"> downvote </a>
    </div>
  </div>
